.paginaAgrupada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 20px;
  }
  
  .logo {
    display: none;
  }
  
  .logo2 {
    display: block;
  }
  
  .barra {
    display: none;
  }
  
  .barra2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-top-color: #f5f6f7;
    border-bottom-color: #f5f6f7;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .barra2 div:nth-child(1) {
    color: #c3170c;
    font-weight: bold;
  }
  
  .barra2 div:nth-child(2) {
    color: #07aa47;
    font-weight: bold;
  }
  
  .barra2 div:nth-child(3) {
    color: #e3662b;
    font-weight: bold;
  }
  
  .barra2 div:nth-child(4) {
    color: #666666;
    font-weight: bold;
  }
  .barra2 div:nth-child(5) {
    color: #0769de;
    font-weight: bold;
  }
  
  .containerbarra {
    width: 100%;
  }
  
  .manchetes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .esquerda {
    width: 100%;
  }
  
  .direita {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .materiaP {
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #c4160c;
  }
  
  .materiaS {
    margin-top: 15px;
    font-size: 18px;
    color: #c4160c;
    font-weight: bold;
  }
  